body {padding-left: 5%;}
	
h2 { font-weight: bold;
            background-color: #FFFFFF;
			color: #003366;
			font-size: 1.6em;
}

li { font-size: 1.1em;}

#contact p { list-style-type: none;
			display: inline;
			padding-right: 1em;}

.imgIcon { width: 15px;
		   height: 15px;}


.floatLeft {
    float: left;
	width: auto;
	padding-right: 10%;
}

#mobile {display: none; }
#desktop {display: inline; }

@media only screen and (max-width: 1024px) {
		h1 { font-size: 1.8em;
			line-height: 200%; }
}

@media only screen and (max-width: 768px) {
		h1 { font-size: 1.5em; }
		#mobile { display: inline; }
		#desktop { display: none; }
		
}